#ReviewPlan-Page h2 {
    color: #555555;
    font-size: 1.75em;
    font-weight: 5600;
}

#ReviewPlan-Page h2 span {
    padding-left: .5em;
    font-weight: 500;
    font-size: .65em;
}

#ReviewPlan-Page p {
    color: #555555;
    margin-bottom: .75em;
}

#ReviewPlan-Page .button p {
    color: white;
    margin-bottom: 0;
}

#ReviewPlan-Page .dead-link {
    color: #0099ff;
}


.review-section h3 {
    text-transform: uppercase;
}

#ReviewPlan-Page .edit-row {
    display: flex;
    flex-direction: row;
}

#ReviewPlan-Page .review-driver {
    margin-bottom: .75em;
}

#ReviewPlan-Page .review-driver:last-of-type {
    margin-bottom: 0em;
}

#ReviewPlan-Page .review-section {
    margin-bottom: 1.5em;
}

#ReviewPlan-Page .edit-row img {
    flex: 0 0 20px;
    height: 20px;
    margin-right: .5em;
}

#ReviewPlan-Page .review-section h4, #ReviewPlan-Page .edit-row h4 {
    color: #555555;
    font-size: 1em;
    font-weight: 500;
}


#ReviewPlan-Page .review-section h3 {
    margin-bottom: .15em;
    color: #555555;
}

#ReviewPlan-Page .review-section h4 {
    flex: 1;
    margin-bottom: .75em;

}

#ReviewPlan-Page .edit-row .edit {
    text-align: right;
    flex: 1;
}

#ReviewPlan-Page section .label {
    font-weight: 450;
    margin-bottom: .25em;
    font-weight: .85em;
    flex: 1;
}

/* #ReviewPlan-Page .edit-row > img, #ReviewPlan-Page .edit-row > h4  {
    display: inline-block;
} */

#ReviewPlan-Page section .label {
}

section .edit-row .label span, .review-section .edit-row .label span, #ReviewPlan-Page .edit-row .edit {
    float: right;
    color: #0099ff;

}