
@keyframes action-in {
    from {
        -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
        transform: translateY(5px);
    }
    to {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);        
    }
}


.button {
    padding: 1em 1.75em;
    position: relative;
    border-radius: 4px;
    display: inline-block;    
    margin: 0 1.5em 0 0;
    min-width: 75%;

    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);

    /*-- override inline --*/
    background-size: 0%;
    /*-- override inline --*/

    background-color: #cccccc;
    text-align: center;
    color: white;
    
    cursor: pointer;

    -webkit-transition: background-color .35s linear; /* Safari */
    transition: background-color .35s linear;
}

.button::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 9px rgba(0,0,0,0.2);
    transition: opacity 0.3s ease-in-out;
    top: 0; left: 0; right: 0; bottom: 0;
}

.button.active:active {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
}

.button.active::after {
    opacity: 1;
}

.button.active:active::after {
    opacity: 0;
    animation: none;
}

.button-helper span {
    padding: 1em 0;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #597a96;
}

.helper-container.button-helper + .button {
    margin-top: 1.25em;
}

.button.active {
    background-color: #0099ff;
    animation: action-in .35s ease-in-out 0s forwards;

}

.button.active.loader {
    background-color: #0099ff;
    background-size: auto 55%;
    background-repeat: no-repeat;
    background-position: 95%;
}

.button.active.loader p {
    /* visibility: hidden; */
}


.button-sub-link {
    font-size: .95em;
    text-align: center;
    margin: auto;
    color: #0099ff; 
}

.button .subText{
    font-size: .75em;
    line-height: .85em;
}

.button.flat.active, .button.flat.active.loader, .button.secondary.flat:hover {
    background-color: white !important;
    color: #0099ff !important;
}


@media only screen and (max-width: 600px) {
    .button {
        padding: 1em 0;
        width: 100%;
        margin: 1.25em 0;
        min-width: none;
    }

    .button.sublink {
        margin-top: 1.5em;
        margin-bottom: .75em;
    }

    .button.sublink .button-sub-link {
        margin-bottom: 1.5em;
    }

    .button.init {
        padding: 1em 1.75em;
        width: auto;
    }
    
  }