.button.secondary  {
    border: solid 1px #0099ff;
    background-color: white;
    color: #0099ff;
    width: 80%;
    padding: 1em 0;
    box-shadow: none;

    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);

}

.button.secondary::after {
    box-shadow: none;
}

.button.secondary:hover, .button.secondary.active {
    background-color: #0099ff;
    color: white;
    animation: none;
}

@media only screen and (max-width: 600px) {

    .button.secondary {
        margin: unset;
        margin-bottom: 1em;
        width: 100%;
    }

  }