@-webkit-keyframes coverage-slide-in {
    0%   { transform: translateY(-100%) }
    100% { transform: translateY(0) }
  }
  @-moz-keyframes coverage-slide-in {
    0%   { transform: translateY(-100%) }
    100% { transform: translateY(0) }
  }
  @-o-keyframes coverage-slide-in {
    0%   { transform: translateY(-100%) }
    100% { transform: translateY(0) }
  }
  @keyframes coverage-slide-in {
    0%   { transform: translateY(-100%) }
    100% { transform: translateY(0) }
  }


  @-webkit-keyframes coverage-slide-out {
    0%   { transform: translateY(0) }
    100%   { transform: translateY(-100%) }
  }
  @-moz-keyframes coverage-slide-out {
    0%   { transform: translateY(0) }
    100%   { transform: translateY(-100%) }
  }
  @-o-keyframes coverage-slide-out {
    0%   { transform: translateY(0) }
    100%   { transform: translateY(-100%) }
  }
  @keyframes coverage-slide-out {
    0%   { transform: translateY(0) }
    100%   { transform: translateY(-100%) }
  }

.coverage-option-container {
    overflow: hidden;
}

.coverage-option-container h3 {
    margin-bottom: .15em;
    
}

.coverage-option-container p {
    font-weight: normal;
    padding-bottom: .25em;
}

.coverage-header-section {
    border-width: 1px;
    border-style: solid;
    border-color:#999999;
    border-radius: 4px;
    padding: .75em;
    margin-top: .5em;

    max-width: 300px;

}

.coverage-header-section .flex-break {
    margin-top: 0;

}

.coverage-header-section .flex-break .button.secondary {
    width: 100%;
    margin: 0 0 .5em 0;
}

.coverage-header-section .flex-break:last-of-type .button.secondary {
    margin: 0;
}

.coverages {
    padding: .75em 0;
    border-bottom: thin solid #CCCCCC;
    margin-bottom: .75em;
}

.coverages h4 {
    color: #555555;
    font-size: 1em;
    font-weight: 500;
}

.coverages ul {
    margin: 0;
    padding: 0;
    margin:.5em 0;
    list-style-type: none;
    color: #555555;

}

.coverages ul li {
    flex-direction: row;
    display: flex;
    padding-bottom: .5em;
    align-content: flex-end;
}

.coverages ul li img {
    margin-right: .5em;
    height: 17.5px;
    width: 17.5px;
}

.coverages ul li p {
    font-size: .85em;
}

.coverage-dropdown {
    background-color: #f1f2f3;
    color: #555555;
    padding: 1.25em .85em;
    overflow: hidden;

    border-width: 1px;
    border-style: solid;
    border-color:#999999;
    border-radius: 4px;

}

.coverage-dropdown h4 {
    margin-bottom: 1em;
    font-weight: 500;

}

.active.coverage-dropdown {
    animation:  coverage-slide-in .75s ease-out 0s forwards;

}

.inactive.coverage-dropdown {
    animation:  coverage-slide-out .75s ease-out 0s forwards;

}


.coverage-dropdown .coverage-details-section {
    margin-bottom: 1em;
    border-bottom: 1px solid #cccccc;
    padding: .5em 0;
}

.coverage-dropdown .coverage-details-section h5 {
    margin-bottom: 1em;
    font-size: .95em;
    font-weight: 500;

}

.coverage-dropdown .coverage-details-section p {
    font-size: .85em;
    font-weight: normal;
    color: 555555;

}

.coverage-dropdown .coverage-details-section .adjustable-price {
    text-align: center;
    margin: 1em 0;
    font-size: 1.15em;
}

.CTA-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.25em;
}

.CTA-container > div {
    flex: .5;
}


.CTA-container .price {
    
}

.CTA-container .price h5, .visible-toggle h5 {
    color: #555555;
    font-weight: normal;
    margin-bottom: .25em;   
}

.CTA-container .price h4 {
    color: #555555;
    font-weight: normal;
    font-size: 1.75em;
}

.CTA-container .price h4 sup {
    font-size: .5em;
}

.CTA-container .button.CTA-box {
    margin: 0;
}

.coverage-premium {
    color: #555555;
}

.coverage-disclaimer {
    color: #555555;
    font-size: .75em;
    line-height: 1.5em;

}

/* == OVERRIDES == */

.coverage-option-container .button.secondary {
    margin-bottom: .5em;
}

.coverage-option-container .helper-container {
    margin: 1em 0 .5em 0;
}

.coverage-option-container .helper-container .helper-content {
    padding: .75em;
}