@keyframes loader-in {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes ghost-out-footer {
    from { 
        height: auto;
    }
    to { 
        height: 60px;
    }
  }


footer {
    background: white;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 1.5% 10% 1.5% 10%;
    bottom: 0;
    z-index: 1000;

    align-content: center;
    justify-content: center;
    transform: translateY(100%);

    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    animation: loader-in 1s ease-out 0s forwards;

}

.footer-savings {
    color: #107dc6;
    display: inline-block;
    text-align: right;
    align-items: flex-end;
    display: flex;
    margin-top: .5em;
}

#footer > div {
    margin: auto;

    align-content: center;
    justify-content: center;
}

#footer .total-price {
    flex: .35;
}

#footer .footer-CTAs {
    flex: 1;
}

#footer .footer-CTAs > span {
    display: block;
}

#footer .footer-CTAs .button.secondary {
    width: 100%;
}

#footer .footer-CTAs span .flex-break:first-of-type {
    margin-top: 0;
    margin-bottom: 1em;
}

#footer .footer-CTAs span .flex-break:last-of-type {
    margin-top: 0;
}

/* footer.ghost {
    -webkit-animation: ghost-out-footer 1s linear .5s forwards; 
    animation: ghost-out-footer 1s linear .5s forwards;
} */

@media (max-width: 600px) { 

    footer {
        flex-direction: column;
        padding: 2.5% 5%;
        width: 90%;
    }

    .footer-savings {
        margin-top: 0;
    }

    #footer > div {
        margin: auto;

        align-content: center;
        justify-content: center;
        width: 100%;
    }

    #footer .total-price {
        text-transform: none;
        margin-bottom: .75em;
        flex-direction: row;
        display: flex;
        align-content: flex-end;
    } 

    #footer .total-price h4 {
        color: #555555;
        display: inline-block;
        font-weight: normal;
        font-size: .85em;

    }



    #footer .total-price h4.monthly-price {
        color: #555555;
        font-weight: 500;
        font-size: 1em;
        margin-left: .35em;
    }

    #footer .button {
        margin-top: .75em;
    }

    #footer .button {
        margin-top: 0;
        margin-bottom: .5em;
    }

    .footer-current-price {
        text-align: left;
        flex: 1;
        align-items: flex-end;
        display: flex;
    }

    .footer-savings h5 {
        font-weight: 400;
    }

}