.add-on {
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    border-radius: 4px;
    padding: 1em .75em;
    margin-top: .5em;

}

.add-on .add-on-wrapper {

}

.add-on .add-on-wrapper .CTA-section {
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: .25em;

}

.add-on .add-on-wrapper .savings {

}

.add-on .add-on-wrapper .savings h5 {
    color: #555555;
    font-weight: normal;
    padding-bottom: .25em;

}

.CTA-section .add-on-labels .upgrade-opt-details {
    text-transform: none;
    font-size: .9em;
    margin-top: .5em;
}


.CTA-section .add-on-labels .dead-link {
    font-size: .85em;
    font-weight: normal;
    margin-bottom: 1em;

}

.CTA-section .add-on-labels h2 {
    color: #686868;
    font-size: 1.85em;
}

.CTA-section .add-on-labels .add-on-subcopy {

}

.CTA-section .add-on-labels h2 .outer-strike {
    text-decoration: line-through;
    color: #0099ff;
    margin-right: .25em;
}
.CTA-section .add-on-labels h2 .outer-strike .inner-strike {
    color: #686868;
    font-size: .75em;
    margin: auto;
    font-weight: 500;
    opacity: 0.85;
}


