.address-header {
    display: flex;
    -ms-flex-direction: row;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

.address-header img {
    /* flex: .25; */
    flex-grow: none;
    align-self: flex-start;
    margin-top: .25em;
    margin-right: .5em;
    width: 22.5px;
    height: 20px;
}

.address-header h3 {
    margin-bottom: 0;
    font-size: 1em;
}

.input-half {
    display: flex;
    flex-direction: row;
}

.input-half div {
    margin-right: .5em;
}

.input-half div:last-of-type {
    margin-right: 0;
}

#CarSelection-Page .flex-break {
    margin-top: .95em;
}