@keyframes helper-container-in {
    from {
        max-height: 0px;
    }
    to {
        max-height: 130px;       
    }
}

@keyframes helper-in {
    from {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);        
    }
}

@keyframes full-helper-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0; 
        display: none;
        visibility: hidden;    
    }
}


.helper-container {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: baseline;
    overflow: hidden; 
    max-height: 0px;
    
    animation: helper-container-in .75s linear .25s forwards;

}

.helper-container.button-helper {
    margin-bottom: 0;
    animation: helper-container-in .75s linear .25s forwards;
}

#helper-id {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    flex-shrink: 0;
}

.full-helper {
    display: flex;
    flex: 1;
    position: absolute;
    background: white;
    z-index: 100;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;

    animation: full-helper-out .05s linear 4.5s forwards;
        
}

.helper-content {
    width: 301px;
    background-color: #f1f2f3;
    padding: .75em;
    border-radius: 10px 10px 10px 0;
    margin-left: 1em;

    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);

    animation: helper-in .35s ease-out .8s forwards;

}

.button-helper .helper-content {
    animation: helper-in .35s ease-out .8s forwards;

}

.helper-content p {
    font-family: Roboto;
    font-size: 1em;
    font-weight: 500;

    color: #555555;
    
}

.helper-child {
    margin-top: auto;
    display: flex;
}

.modal-panel #helper-id {

}

.modal-panel .helper-content {
    flex-grow: 1;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    
    /* .helper-container.button-helper {
        display: none;
        visibility: hidden;
    } */
    
    .helper-container {
        margin: auto;
        /* width: 90%; */
    }

    .helper-container.full {
        margin: auto;
        width: 100%;
    }

    .helper-content {
        width: 100%;
    }
}

