.toggle {
  .toggle-opt {
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;

    &.active, &:hover {
      background: rgb(255, 176, 7);
    }

    img {
      margin: auto;
    }
  }
}