.toggle {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: stretch;
    border-radius: 4px;
    border: solid 1px #0099ff;
    color: #0099ff;
    margin-top: 10px;
}

.toggle-label {
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
}

.toggle img {
    margin: auto;
}

.toggle-opt {
    display: inline-block;
    padding: .75em;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

.toggle-opt:first-of-type {
    border-right: solid 1px #0099ff;
}

.toggle-opt.active, .toggle-opt:hover {
    background-color: #0099ff;
    color: white;
}