* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
  -o-tap-highlight-color: rgba(0,0,0,0);
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}

@-webkit-keyframes ghost-out {
  from { 
    max-height: 65px; 
    margin-top: .25em;
    opacity: 1;
  }
  to { 
    max-height: 0;
    margin-top: 0;
    opacity: 0;
    overflow: hidden;  
  }
}

@keyframes ghost-out {
  from { 
    max-height: 65px; 
    margin-top: .25em;
    margin-bottom: 1em;
    opacity: 1;
  }
  to { 
    max-height: 0;
    margin-top: 0;
    opacity: 0; 
    margin-bottom: 0;
    overflow: hidden;  
  }
}

/* @keyframes ghost-out {
  from { 
      opacity: 1; 
      height: 100%;

      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);

  }
  to { 
      opacity: 0; 
      height: 0;
      overflow: hidden;
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%);
  }
} */


body {
  margin: 0;
  padding: 0;
  border: 0px;

  height: 100%;
  width: 100%;
  font-family: Roboto;
  text-align: left;
}

h1, h2, h3, h4, h5, h6, p {
  -webkit-margin-before:0em;
  -webkit-margin-after:0em;
  
}

h1 {
  font-family: Roboto;
  font-size: 1.75em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #555555;
  margin-bottom: .5em;
  max-width: 75%;

  flex-basis: 100%;

}

.flex-break {
  flex-basis: 100%;
  margin-top: 1em;
}

.flex-break.ghost {
    -webkit-animation: ghost-out 1s linear .25s forwards;
    animation: ghost-out 1s linear .25s forwards;
}

input[type=text], input[type=email], input[type=number], input[type=date] {   
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

h1 span, h3 span, span {
  display: inline-block;
}

h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #777777;

  /* margin: 1em 0; */
  margin-bottom: 1em;
}

p {
  font-family: Roboto;
  font-size: .95em;

}

.content-wrapper {
  /* -- must stay to stabalize animations -- */
  /* position: absolute; */

  -ms-flex-direction: column !important;
  flex-direction: column !important;
  /* -- must stay to stabalize animations -- */

  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;

}


.content-viewport {
  /* position: relative;
  flex-direction: column;
  display: flex; */

  position: relative;
  flex-wrap: wrap;
  flex-direction: row;

}

.sub-content-wrapper {
  /* flex: .5; */
  width: 75%;
}

.dead-link, a {
  color: #0099ff;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
}

#root {
  /* -- REMOVE -- */
  position: absolute;
  /* -- REMOVE -- */

  height: 100%;
  width: 100%;

  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:         flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;  

  -webkit-align-content: stretch;
  align-content: stretch;
  /* overflow: hidden; */

}



@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5em;
    margin-bottom: .75em; 
    max-width: none;
  }

  h1 span, h3 span, span {
    display: inline;
  }

  .sub-content-wrapper {
    flex: 1;
    width: 100%;
  }
 
  .content-viewport {
    width: 100%;
    /* background: green; */
  }

  .flex-break {
    flex-basis: 100%;
    margin-top: .25em;
  }
  
}