#ProgressBar-Wrapper {
    height: 5px;
    background: #eeeff0;
}

#progress-gauge {
    height: 100%;
    background: #043567;

    -webkit-transition: width .75s ease-out; /* Safari */
    transition: width .75s ease-out;
}