.drivers-list-container {
    padding: .75em 1em;
    background: #f1f2f3;
    border-radius: .25em;
}

.drivers-list-ul {
    list-style-type: none;
    padding: 0;
    margin:
}

.drivers-list-ul li {
    font-family: Roboto;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.33;
    padding-bottom: .75em;
    color: #555555;

    display: flex;
    align-items:center;
}

.drivers-list-ul .member-icon {
    margin-right: .5em;
}

.drivers-list-ul li:last-of-type {
    padding-bottom: 0;
}

.drivers-list-ul li:first-of-type .remove-icon {
    display: none;
    visibility: hidden;
}

.remove-icon {
    display: inline;
    height: 1em;
}

.remove-icon img {
    height: 100%;
    margin-left: .5em;
}

#more-driver-proceed, #more-driver-dead {
    width: 100%;
    margin-top: 0;
}