#PaymentOptions-Page .sub-content-wrapper .radio-group {
    border: solid thin #999999;
    border-radius: 4px;
    margin: 0;
    flex: 1;
}

#PaymentOptions-Page .sub-content-wrapper .radio-group label.radio-group-label, label.radio-group-label {
    border-bottom: solid thin #999999;
    margin-left: 0;
    margin-right: 0;
    padding: .5em;
}


#PaymentOptions-Page .sub-content-wrapper .radio-group label.radio-group-label span {
    font-size: 1em;

}

#PaymentOptions-Page .sub-content-wrapper .radio-group label:last-child {
    border-bottom: none;
}