#AutoPay-Page .MuiSvgIcon-root-28 {
    font-size: 2em !important;
}

#AutoPay-Page .MuiFormControlLabel-root-7 {
    margin-left: 0 !important;
}

.check-form {
    color: #555555;
}

.check-form label  {
    display: flex;
    flex-direction: row;
}

.autpay-content {
    margin-bottom: .75em;
    color: #555555;
}

.autpay-content p {
    margin-bottom: .25em;
}

.pay-agreement {
    background: #f1f2f3;
    padding: 1em 1.25em; 
    border-radius: .25em;
}

.pay-agreement h5 {
    color: #555555;
    font-size: 1em;
    margin-bottom: .5em;
}

.pay-agreement p {
    color: #555555;
    font-size: .8em;
    line-height: 1.35em;
}

#AutoPay-Page input[type='checkbox'] {
    display: none;
}

#AutoPay-Page input[type='checkbox'] + .check {
    height: 20px;
    width: 20px;
    border: #0099ff solid 2px;
    border-radius: 4px;
    position: relative;
    margin-right: .75em;
    text-align: center;
    transition: all 300ms;

}

#AutoPay-Page input[type='checkbox'] + .check::after {
    opacity: 0;
    background: #0099ff;
    border-radius: 4px;
    color: white;
    content: '\2713';
    transition: all 300ms;

}

#AutoPay-Page input[type='checkbox']:checked + .check {
    background: #0099ff;
  
}

#AutoPay-Page input[type='checkbox']:checked + .check::after {
    opacity: 1;
}

